.dolphy {
  box-sizing: border-box;
}

.dolphy-suggestion {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100%;
  width: 300px;

  background: #ecf0f1;

  -webkit-box-shadow: 4px 6px 23px -1px rgba(0,0,0,0.84);
  -moz-box-shadow: 4px 6px 23px -1px rgba(0,0,0,0.84);
  box-shadow: 4px 6px 23px -1px rgba(0,0,0,0.84);
}

.dolphy-combo-box {
  width: 100%;
  height: 55px;

  font-size: 28px !important;

  background: #333 !important;
  color: #2ecc71 !important;
}





/* Option */


.dolphy-options-container {
  position: absolute;
  top: 65px;
  left: 0px;
  bottom: 0px;

  width: 100%;
  overflow-y: auto;
}

.dolphy-options {
  margin-left: 10px;
  margin-right: 20px;
}


.dolphy-option {
  display: block;
  margin-bottom: 10px;
  border: solid 1px #333;

  opacity: 0.3;
}


.dolphy-option .dolphy-img {
  display: block;
  width: 100%;
}


.dolphy-option .dolphy-combo {
  display: block;
  width: 100%;

  font-family: Arial;
  font-size: 20px;

  background: #333;
  color: #ccc;

  padding: 8px;
}


.dolphy-option.focus {
  border: solid 5px #2ecc71;
  opacity: 1;
}


.dolphy-option.focus .dolphy-img {

}

.dolphy-option.focus .dolphy-combo {
  color: #2ecc71;
}


.dolphy-combo:hover {
  text-decoration: none;
}
